@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#f8f7fb, #6355b2);
  height: 100vh;
  margin: 5px;
  padding: 5px;
}

header > nav > ul {  
  background:#52469a;
  border: 1px solid #52469a; 
  clear: right; 
  color: white;
  float: right; 
  font-family: 'Arima Madurai', cursive;
  text-align: right; 
}

a {
  background:#52469a;
  border: 1px solid #52469a; 
  color: white;
  font-family: 'Arima Madurai', cursive;
  float: left;
}

header > h1 {
  background:#52469a;
  border: 1px solid #52469a; 
  color: white;
  margin: 5px;
  padding: 5px;
  font-family: 'Arima Madurai', cursive;
  font-size: 45px;
  font-weight: bold;
}

section > div > header {
  background:#52469a;
  border: 1px solid #52469a; 
  color: white;
  font-family: 'Arima Madurai', cursive;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

main {
  /* border: 1px solid green; */
  margin: 5px;
  padding: 5px;
}

form{
  text-align: center;
  
}

div {
  /* border: 1px solid purple; */
  margin: 5px;
  padding: 5px;
}

ol {
  /* border: 1px solid orange; */
  margin: 5px;
  padding: 5px;
}

form {
  /* border: 1px solid red; */
  margin: 5px; 
  padding: 5px; 
}

span {
  /* border: 1px solid blue;  */
  margin: 5px;
  padding: 5px;
}

footer { 
  /* border: 1px solid yellow; */
  margin: 5px;
  padding: 5px;
  position: sticky;
  position: fixed;
  bottom: 0;
  right: 0;   
}
    
